/*
	color pallete
		#404165	-	fiord
		#C2C6DE	-	blue haze
		#89B1DA	-	polo blue
		#6A86BC	-	ship cove
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'K2D', sans-serif;
	font-size: 16px;
	color: #404165;
}

body {
	background-color: #C2C6DE;
}

.divbod {
	background-color: #404165;
}

.divbod p, .divbod .sub1, .divbod .sub2,.divbod label {
	color: #C2C6DE;
}

h1 {
	font-size: 54px;
	font-weight: bold;
	font-family: "Dancing Script", sans-serif;
	color: #404165;
}

.sub1 {
	font-size: 36px;
	font-family: "Anton", sans-serif;
	color: #404165;
}

.sub2 {
	font-size: 28px;
	font-family: "Anton", sans-serif;
	color: #404165;
}

.quote {
	font-family: "Dancing Script", cursive;
	font-size: 30px;
	color: #404165;
	text-align: center;
}

#top {
/*	padding-top: 3rem;
	padding-bottom: 1rem;*/
	background-color: #404165;
}

button > span {
	background-color: #C2C6DE;
}

.bottom {
	padding-top: 3rem 0 0;
	background-color: #404165;
}

.bottom p {
	color: #C2C6DE;
}

#gmap_canvas {
	height: 40vh;
	width: 100%;
	padding: 1rem;
}

#tools img {
	width: 80px;
}

.btncolor {
	background-color: #C2C6DE;
	color: #404165;
}

.icon {
	font-size: 2rem;
	color: #C2C6DE;
	padding-left: 2rem;
	padding-right: 2rem;
}

html {
	scroll-behavior: smooth;
}

.captionthis {
	color: #404165;
	background-color: RGBA(194, 198, 222, .75);
}

.captionthis p {
	color: #404165;
}
