/*
	color pallete
		#d53900	-	red orange
		#e7c211	-	yellow
		#ed698e	-	pink
		#f8941c	-	orange
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'K2D', sans-serif;
	font-size: 16px;
	color: #d53900;
}

body {
	background-color: #d53900;
	background-image: url(https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	min-height: 90vh;
}

.divbod p, .divbod .sub1, .divbod .sub2,.divbod label {
	color: #d53900;
}

h1 {
	font-size: 54px;
	font-weight: bold;
	font-family: "Dancing Script", sans-serif;
	color: #d53900;
}

.sub1 {
	font-size: 36px;
	font-family: "Anton", sans-serif;
	color: #f8941c;
}

.sub2 {
	font-size: 26px;
	font-family: "Anton", sans-serif;
	color: #d53900;
}

.quote {
	font-family: "Dancing Script", cursive;
	font-size: 30px;
	color: #d53900;
	text-align: center;
}

#top {
	padding-top: 1rem;
	padding-bottom: .5rem;
	background-color: #d53900;
}

.bottom {
	background-color: #d53900;
}

.bottom span {
	color: #e7c211;
	font-size: .7rem;
}

#gmap_canvas {
	height: 40vh;
	width: 100%;
	padding: 1rem;
}

#home, #projects, #tools, #contact {
/*	background-image: url(https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: RGBA(243, 244, 246, 1);
	background-size: cover;*/
}

#tools img {
	width: 80px;
	height: auto;
}

.btncolor {
	background-color: #d53900;
	color: #e7c211;
}

.btncolor:hover {
	background-color: #f8941c;
	color: #d53900;
	text-decoration: none;
}

.icon {
	font-size: 1.5rem;
	color: #e7c211;
	padding-left: 1rem;
	padding-right: 1rem;
}

.icon:hover {
	color: #f8941c;
	text-decoration: none;
}

.navlinks {
	color: #e7c211;
}

.navlinks:hover {
	color: #f8941c;
	text-decoration: none;
}

.navbtn {
	border-color: #e7c211;
}

.navbtn:hover {
	border-color: #f8941c;
}

.iconbars {
	color: #e7c211;
}

.iconbars:hover {
	color: #f8941c;
}

html {
	scroll-behavior: smooth;
}

.captionthis {
	color: #d53900;
	font-size: 16px;
	background-color: RGBA(243, 244, 246, .8);
}

.captionthis2 {
	color: #d53900;
	font-size: 18px;
	background-color: RGBA(243, 244, 246, .9);
}