/*
	color pallete
		#d53900	-	red orange
		#e7c211	-	yellow
		#ed698e	-	pink
		#f8941c	-	orange
		#FAEFDE
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	color: #d53900;
}

body {
	/*background-image: url(https://images.pexels.com/photos/4210787/pexels-photo-4210787.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;*/
	background-color: #eeddcc;
	min-height: 95vh;
}

html {
	scroll-behavior: smooth;
}

.divbod p, .divbod .sub1, .divbod .sub2, .divbod label {
	color: #d53900;
}

.intro-container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
/*  scroll-snap-type: y mandatory;*/
}

.intro-section {
    width: 100%;
    min-height: 100vh;
    background-size:  cover;
    scroll-snap-align: start;
}

.home-section {
	background-color: transparent;
	min-height: 95vh;
	overflow: hidden;
}

.about-section {
	background-image: url(https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-attachment: fixed; /*parallax effect*/
	background-size: cover;
	background-position: center;
	min-height: 95vh;
	overflow: hidden;
}

.tools-section {
	background-color: #FAEFDE;
	min-height: 95vh;
	overflow: hidden;
}

.contact-section {
	min-height: 95vh;
	overflow: hidden;
}

.intro-head {
	font-size: 72px;
	font-weight: bold;
	font-family: 'K2D', sans-serif;
	color: #FAEFDE;
	border-left: solid 5px #FAEFDE;
}

.wrapper{
	position:  relative;
	height: 100vh;
	display:  flex;	
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

.wrapper-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	animation: ani1 36s ease-out forwards;
}

.wrapper-text-text {
	color: #FAEFDE;
}

.wrapper-text {
	text-align: center;
	font-size: 45px;
	line-height: 90px;
	letter-spacing: 5px;
	font-family: 'K2D', sans-serif;
	text-transform: uppercase;
	margin-bottom: 25vh;
	padding: 5rem 3rem;
	border-radius: .25rem;
	background-color: RGBA(250, 239, 222, .2);
	border: solid 2px #FAEFDE;
	opacity: 0;
	animation: ani2 1s ease-out 1.5s forwards;
}

.wrapper-text h6 {
	font-size: 10px;
}

.wrapper-text h1, .wrapper-text h3, .wrapper-text h5, .wrapper-text h6 {
	opacity: 0;
	margin: 0;
}

.wrapper-text h1, .wrapper-text h3 {
	animation: ani2 0.75s ease-out 1.5s forwards;
}

.wrapper-text h5, .wrapper-text h6 {
	animation: ani2 0.75s ease-out 3s forwards;
}

@keyframes ani2 {
	100%{
		opacity: 1;
	}
}
@keyframes ani1{
	100%{
		transform: scale(1.55);
	}
}

.head {
	font-size: 54px;
	font-weight: bold;
	font-family: "Dancing Script", sans-serif;
	color: #d53900;
}

.sub1 {
	font-size: 32px;
	font-family: "Anton", sans-serif;
	color: rgba(250, 239, 222, 1);
	text-shadow: 3px 3px #d53900;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #d53900;
}

.about-text {
	color: #d53900;
	font-size: 18px;
	background-image: linear-gradient(to right, rgba(250,239,222,0), rgba(250,239,222,0.6), rgb(250,239,222), rgba(250,239,222,0.6), rgba(250,239,222,0));
}

.about-text > span {
	font-weight: 800;
	font-size: 22px;
}

.sub2 {
	font-size: 26px;
	font-family: "Anton", sans-serif;
	color: rgba(250, 239, 222, 1) !important;
	text-shadow: 2px 2px #d53900;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #d53900;
}

.text-bold {
	font-weight: bold;
}

.text-white{
	color: #FAEFDE;
}

@media (max-width:  600px) {
	.head {
		font-size: 36px;
	}

	.sub1 {
		font-size: 22px;
	}

	.about-text {
		color: #d53900;
		font-size: 16px;
		background-image: linear-gradient(to right, rgba(250,239,222,0.2), rgba(250,239,222,0.7), rgb(250,239,222), rgba(250,239,222,0.7), rgba(250,239,222,0.2));
	}
}

.quote {
	font-family: "Dancing Script", cursive;
	font-size: 30px;
	color: #d53900;
	text-align: center;
}

#top {
	padding-top: 1rem;
	padding-bottom: .5rem;
	background-color: #d53900;
}

.bottom {
	background-color: #d53900;
}

.bottom span {
	color: #FAEFDE;
	font-size: .7rem;
}

#gmap_canvas {
	height: 50vh;
	width: 100%;
	padding: 1rem;
}

#tools img {
	width: 80px;
	height: auto;
	margin: 0.75rem 1.25rem;
	padding: 0.25rem;
	transition:  transform 500ms;
}

#tools img:hover {
	/*transform:  translateY(-25px);*/
	transform:  scale(150%);
}

.projectcontainer {
  position: relative;
  width: 50%;
}

.projectimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  bottom: 0;
  right: 0;
  text-align: center;
}

.middle-title {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projectcontainer:hover .projectimage {
  opacity: 0.5;
}

.projectcontainer:hover .middle {
  opacity: 1;
}

.projectcontainer:hover .middle-title {
  opacity: 1;
}

.view {
  background-color: #d53900;
  color: #FAEFDE;
  font-size: 12px;
  padding: 8px 16px;
}

.view-title {
  color: #d53900;
  font-size: 1.8rem;
  font-family: "Anton", sans-serif;
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: #FAEFDE;
}

.btncolor {
	background-color: #d53900;
	color: #FAEFDE;
}

.btncolor:hover {
	background-color: #f8941c;
	color: #d53900;
	text-decoration: none;
}

.icon {
	font-size: 1.5rem;
	color: #FAEFDE;
	padding-left: 1rem;
	padding-right: 1rem;
}

.icon:hover {
	color: #f8941c;
	text-decoration: none;
}

.bodylinks {
	color: #f8941c;
	font-size: .8rem;
}

.bodylinks:hover {
	color: #d53900;
	text-decoration: none;
}

.navlinks {
	color: #FAEFDE;
}

.navlinks:hover {
	color: #f8941c;
	text-decoration: none;
}

.toplinks {
	color: #FAEFDE;
	font-weight: bold;
	letter-spacing: 5px;
}

.toplinks:hover {
	color: #FAEFDE;
	text-decoration: none;
}

a.underline-left {
	position: relative;
}

a.underline-left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FAEFDE;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.underline-left:hover:before {
  visibility: visible;
  width: 93%;
}

.navbtn {
	border-color: #FAEFDE;
}

.navbtn:hover {
	border-color: #f8941c;
}

.iconbars {
	color: #FAEFDE;
}

.iconbars:hover {
	color: #f8941c;
}

.contactlinks a{
	color: #d53900 !important;
	font-size: 18px !important;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.projectCard {
  min-height:  100%;
  box-shadow: 8px 8px rgba(121, 121, 121, .3);
  background-color: rgba(250, 239, 222, .7);
}

.card-img-top {
}

.card-title {
	font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #d53900;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(250, 239, 222, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 239, 222, .75); 
}

/*
	color pallete
		#d53900	-	red orange
		#FAEFDE	-	yellow
		#ed698e	-	pink
		#f8941c	-	orange
		#FAEFDE
*/