/*
	color pallete
		#d53900	-	red orange
		#FAEFDE	-	yellow
		#ed698e	-	pink
		#f8941c	-	orange
		#FAEFDE
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'K2D', sans-serif;
	font-size: 14px;
	color: #d53900;
}

body {
	background-color: #d53900;
	/*background-image: url(https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);*/
	/*background-image: url(https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg);*/
	background-image: url(https://images.pexels.com/photos/4210787/pexels-photo-4210787.jpeg);
	/*background-image: url(https://images.pexels.com/photos/606676/pexels-photo-606676.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);*/
	/*background-blend-mode: overlay;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/*background-color: RGBA(255, 255, 255, .8);*/
	background-color: RGBA(213, 57, 0, .2);
	min-height: 95vh;
}

html {
	scroll-behavior: smooth;
}

.divbod p, .divbod .sub1, .divbod .sub2, .divbod label {
	color: #d53900;
}

.about-section {
	background-image: url(https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 95vh;
	overflow: hidden;
}

.tools-section {
	background-color: #FAEFDE;
	min-height: 95vh;
	overflow: hidden;
}

.contact-section {
	min-height: 95vh;
	overflow: hidden;
}

.head {
	font-size: 54px;
	font-weight: bold;
	font-family: "Dancing Script", sans-serif;
	color: #d53900;
}

.sub1 {
	font-size: 36px;
	font-family: "Anton", sans-serif;
	color: rgba(250, 239, 222, 1);
	text-shadow: 3px 3px #d53900;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #d53900;
}

.about-text {
	color: #d53900;
	font-size: 18px;
	background-image: linear-gradient(to right, rgba(250,239,222,0), rgba(250,239,222,0.6), rgb(250,239,222), rgba(250,239,222,0.6), rgba(250,239,222,0));
} 

.sub2 {
	font-size: 26px;
	font-family: "Anton", sans-serif;
	color: rgba(250, 239, 222, 1) !important;
	text-shadow: 2px 2px #d53900;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #d53900;
}

@media (max-width:  600px) {
	.head {
		font-size: 36px;
	}

	.sub1 {
		font-size: 22px;
	}

	.about-text {
		color: #d53900;
		font-size: 16px;
		background-image: linear-gradient(to right, rgba(250,239,222,0.2), rgba(250,239,222,0.7), rgb(250,239,222), rgba(250,239,222,0.7), rgba(250,239,222,0.2));
	}
}

.quote {
	font-family: "Dancing Script", cursive;
	font-size: 30px;
	color: #d53900;
	text-align: center;
}

#top {
	padding-top: 1rem;
	padding-bottom: .5rem;
	background-color: #d53900;
}

.bottom {
	background-color: #d53900;
}

.bottom span {
	color: #FAEFDE;
	font-size: .7rem;
}

#gmap_canvas {
	height: 50vh;
	width: 100%;
	padding: 1rem;
}

#tools img {
	width: 80px;
	height: auto;
	padding: .5rem;
	margin: .5rem;
	transition:  transform 250ms;
}

#tools img:hover {
	transform:  translateY(-25px);
}

.btncolor {
	background-color: #d53900;
	color: #FAEFDE;
}

.btncolor:hover {
	background-color: #f8941c;
	color: #d53900;
	text-decoration: none;
}

.icon {
	font-size: 1.5rem;
	color: #FAEFDE;
	padding-left: 1rem;
	padding-right: 1rem;
}

.icon:hover {
	color: #f8941c;
	text-decoration: none;
}

.navlinks {
	color: #FAEFDE;
}

.navlinks:hover {
	color: #f8941c;
	text-decoration: none;
}

.navbtn {
	border-color: #FAEFDE;
}

.navbtn:hover {
	border-color: #f8941c;
}

.iconbars {
	color: #FAEFDE;
}

.iconbars:hover {
	color: #f8941c;
}

.contactlinks a{
	color: #d53900 !important;
	font-size: 18px !important;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.projectCard {
  min-height:  100%;
  box-shadow: 8px 8px rgba(121, 121, 121, .3);
  background-color: rgba(250, 239, 222, .7);
}

.card-img-top {
}

.card-title {
	font-weight: bold;
}

/*.glow {
  color: whitesmoke;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #d53900, 0 0 30px #d53900, 0 0 40px #d53900, 
                 0 0 50px #d53900, 0 0 60px #f8941c, 0 0 70px #f8941c;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #f8941c, 0 0 40px #f8941c, 0 0 50px #f8941c, 
                 0 0 60px #f8941c, 0 0 70px #f8941c, 0 0 80px #f8941c;
  }
}*/